/*  HEADER */
.header-identidade
{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.header-identidade img
{
    width: 85px;
    height: auto;
}

/* ==  BOTÃO DIAS PROGRAMAÇÃO  == */

.grade-dia
{
    display: none;
    background-color: #fcfcfc;
    color: white;
    padding: 20px;
    border-top: 1px solid white;
}

.dia-programacao:hover .grade-dia
{
    display: block !important;
}
